{% import "partials/language.html" as lang %}

<!-- Application footer -->
<footer class="footer md-footer">

  <!-- Sensel footer nav -->
  <div class="container footer-links">
    <div class="row">
      <div class="col-xs-12 col-sm-2 padding-bottom-20">

        <!-- Sensel logo links to www.sensel.com -->
        <nav class="md-footer-nav__inner md-grid">
          <a href="{{ config.extra.org_url }}" title="{{ config.site_name }}" class="md-logo md-header-nav__button">
            <img src="{{ base_url }}/{{ config.extra.logoalt }}" width="103" height="24">
          </a>
        </nav>
      </div>

      <!-- Sensel Nav column: About -->
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}node/21">
            <li><strong>About</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}node/21#about-intro">
            <li>Core Technology</li>
          </a>
          <a href="{{ config.extra.org_url }}node/21#team">
            <li>The Team</li>
          </a>
          <a href="{{ config.extra.org_url }}node/21#bottom-cta">
            <li>Contact</li>
          </a>
        </ul>
      </div>

      <!-- Sensel Nav column: Support -->
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}node/1">
            <li><strong>Support</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}node/1#support-intro">
            <li>Getting Started</li>
          </a>
          <a href="{{ config.extra.org_url }}node/1#support-faq">
            <li>FAQ</li>
          </a>
          <a href="{{ config.extra.org_url }}node/1#software">
            <li>Software Support</li>
          </a>
          <a href="{{ config.extra.org_url }}node/1#hacking-support">
            <li>Hacking Support</li>
          </a>
        </ul>
      </div>

      <!-- Sensel Nav column: Modes-->
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}art">
            <li><strong>Art</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}music">
            <li><strong>Music</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}gaming">
            <li><strong>Gaming</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}hacking">
            <li><strong>Hacking</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}media">
            <li><strong>Media</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}productivity">
            <li><strong>Productivity</strong></li>
          </a>
        </ul>
      </div>

      <!-- Sensel Nav column: Contact -->
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}about#contact">
            <li><strong>Contact</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}warranty">
            <li><strong>Warranty</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}sensel-privacy-policy">
            <li><strong>Privacy Policy</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}#press">
            <li><strong>Press</strong></li>
          </a>
        </ul>
      </div>

      <!-- Sensel Nav column: Social links-->
      <div class="col-xs-6 col-sm-2">
        {% block social %}
          {% include "partials/social.html" %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- Further information -->
  <div>
    <!-- Copyright information -->
    <div class="container">
      {% if config.copyright %}
        <div class="md-footer-copyright__highlight">
          {{ config.copyright }}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
