{% import "partials/language.html" as lang %}
<footer class="footer md-footer">
  <div class="container footer-links">
    <div class="row">
      <div class="col-xs-12 col-sm-2 padding-bottom-20">
        <nav class="md-footer-nav__inner md-grid">
          <a href="{{ config.extra.org_url }}" title="{{ config.site_name }}" class="md-logo md-header-nav__button">
            <img src="{{ base_url }}/{{ config.extra.logoalt }}" width="103" height="24">
          </a>
        </nav>
      </div>
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}">
            <li>Core Technology</li>
          </a>
          <a href="{{ config.extra.about_url }}">
            <li>About</li>
          </a>
          <a href="{{ config.extra.about_contact_url }}">
            <li>Contact</li>
          </a>
        </ul>
      </div>
      
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.forum_url }}">
            <li><strong>Forum</strong></li>
          </a>
          <a href="{{ config.extra.quickstart_url }}">
            <li>Getting Started</li>
          </a>
          <a href="{{ config.extra.faq_url }}">
            <li>FAQ</li>
          </a>
          <a href="{{ config.extra.ticket_url }}">
            <li>Software Support</li>
          </a>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-2">
        <ul>
          <a href="{{ config.extra.org_url }}about#contact">
            <li><strong>Contact</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}warranty">
            <li><strong>Warranty</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}sensel-privacy-policy">
            <li><strong>Privacy Policy</strong></li>
          </a>
          <a href="{{ config.extra.org_url }}#press">
            <li><strong>Press</strong></li>
          </a>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-2">
        {% block social %}
          {% include "partials/social.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      {% if config.copyright %}
        <div class="md-footer-copyright__highlight">
          {{ config.copyright }}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
